@font-face {
    font-family: Rambla;
    src: url(../fonts/rambla/Rambla-Regular.woff);
}

	
* {
  	margin: 0;
  	padding: 0;
	}

body{
	background-image: url(../images/photo-14.jpg); 
	background-repeat: no-repeat;
  background-size: 100%;
	width: 100%;
	height: 100%;
  background-blend-mode: hard-light;
  background-color: #33186d;	

	}

#wrapper {
	width: 100%;
	height: 100%;

	}

#introduction {
	position: relative;
	margin: 0 auto;
	top:63px;
	width: 711px;
  left: 20px;

}

#logo {
  background-image: url(../images/logo.png);
  width: 172px;
  height: 172px; 
  padding:5px;
}


#alien-spacecraft-1 {
    width: 160px;
    height: 160px;
    background: url(../images/alienspaceship.png);
    background-size: 160px 160px;
    position: absolute;
    bottom:0;
    left: 0;
    /*animation: aliens 1s linear;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation: aliens 1s linear;*/
    
}



.line-1, .line-2, .line-3, .line-4 {
	line-height: 1.8em;

}

.line-1, .line-2, .line-3, .line-4 {	
	font-size: 28px;
  color: white;
  font-family: 'Raleway', sans-serif;
  	
}

#intro-line-2 {
  font-size: 44px;
  font-family: 'Fredoka One', sans-serif;
  margin-top: -21px
}

#intro-line-4 {
  font-size: 44px;
  font-family: 'Droid Sans', sans-serif;
  margin-top: -21px;
  text-align: center;
  width: 560px;
}

.text {
  font-size: 14px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}


.text2 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  display: inline-block;
  padding:15px;
  background: #99c432;
  border-radius: 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px;
  

}


#text-forward-a {
	position: absolute;
	float: right;
	top: 24px;
  right: 91px;
  margin: 0;
  padding:20px;
  background-color: #FF4000;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000000;
  animation: fadeInRightBig 3s linear;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -webkit-animation: fadeInRightBig 3s linear;

}

#text-forward-b {
  position: absolute;
  width: 140px;
  margin: 0;
  float: left;
  left: 89px;
  top: 24px;
  padding:20px;
  background-color: #549d17;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #000000;
  animation: fadeInLeftBig 3s linear;
  animation-delay: 1s;
	-webkit-animation-delay: 1s;
  -webkit-animation: fadeInLeftBig 3s linear;

}

#text-forward-c {
	position: absolute;
	width: 140px;
	left: 249px;
    top: 20px;
}


.text-container {
	width: 1153px;
	height: auto;
}

#text-container-1 {
	position: absolute;
	top: 400px;
    left: 469px;
}

.fi-arrow-left {
	float: left;
	animation: pulse 4s infinite;
	animation-name: fadeInDown;
	animation-iteration-count: 1;
	animation-delay: 3s;
  	-webkit-animation-delay: 3s;
	
	-webkit-animation-name: fadeInDown;
	-webkit-animation-iteration-count: 1;
  	

}

.fi-arrow-right { 
	float: right;
	animation: pulse 4s infinite;
	animation-iteration-count: 1;
  	animation-name: fadeInDown;
  	animation-delay: 3s;
  	-webkit-animation-delay: 3s;
	-webkit-animation: pulse 4s infinite;
	-webkit-animation-name: fadeInDown;
	-webkit-animation-iteration-count: 1;

	
  }

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

@-webkit-keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}


@keyframes aliens {
  0% { transform: scale(0); }
  25% { transform: scale(1);  }
  50% { transform: translateX(800px); }
  100% {  transform: translateY( -900px); }
}

@-webkit-keyframes aliens {
  0% { transform: scale(0); }
  25% { transform: scale(1);  }
  50% { transform: translateX(800px); }
  100% {  transform: translateY( -900px); }
}



 .size-48 { font-size: 48px;}
 .size-73 { font-size: 72px; color: #fff; animation: pulse 4s infinite; -webkit-animation: pulse 4s infinite;}
 .size-72 { font-size: 72px; color: #fff; animation: pulse 4s infinite; -webkit-animation: pulse 4s infinite;}
 .size-102 { font-size: 102px; color: hsla(355, 84%, 47%, 0.68); }

#earth-1 {
	width: 200px;
	height: 200px;
	background: url(../images/earth/earthmap.jpg) 0 0 repeat;
	background-size: 630px;
  border-radius: 50%;
  animation: rotate 50s linear infinite;
  transition: transform 200ms linear;
  transform-style: preserve-3d;
  box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  color: #000;

}

.earth {
	position: relative;
	top: 206px;
  left: 851px;

}

#earth-1:after {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
}

#earth-1:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  background: radial-gradient(circle at 100px 100px, #fff, #000);
}

@keyframes rotate {
  0% {background-position: 0 0;}
  100% {background-position: 630px 0;}
}

#vinny-container {
	width: 29%;
	height: 198px;
	overflow: hidden;
	position: relative;
  top: 212px;
  z-index: 1;
    
}

.vinnycontainer {
	left: 823px
}

.vinny1 {
  width: 231px;
  height: 200px;
  background: url(../images/vinny-slides.png);
  -webkit-animation-name: bounceInDown;
  -webkit-animation-duration: 3s;
  animation-name: bounceInDown;
  animation-duration: 5s;

}

.vinny2 {
  width: 238px;
  height: 200px;
  background: url(../images/vinny-slides.png);
  background-position: -646px 0px;
  overflow: hidden;
  animation: vinnyFliesOff 3s steps(2) infinite;
  -webkit-animation: vinnyFliesOff 3s steps(2)  infinite;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}

#intro-banner {
	background-color: #fff;
	padding: 10px 0px 10px 52px;
	width: 349px;
	height: auto;
	-ms-transform: rotate(-32deg); /* IE 9 */
  -webkit-transform: rotate(-32deg); /* Chrome, Safari, Opera */
  transform: rotate(-32deg);
  position: absolute;
  left: -44px;
  top: 35px;
}

.text-intro {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	padding-left: 40px
}

#rocket-1 {
	background: url(../images/rocket.png);
	background-size: 96px 215px;
  width: 96px;
  height: 215px;
	webkit-animation: rocket 20s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: rocket 20s linear infinite; /* Firefox 5-15 */
  -o-animation: rocket 20s linear infinite; /* Opera 12+ */
  animation: rocket 20s linear infinite; /* Chrome, Firefox 16+, 
                                                      IE 10+, Safari 5 */
    
}

@keyframes vinnyFliesOff {
    from {  background-position: -646px 0px;  transform:  translateX(0px); }
    to   {  background-position: -1190px 0px; transform:  translateX(580px); }
}

@-webkit-keyframes vinnyFliesOff {
    from {  background-position: -646px 0px;  transform:  translateX(0px); }
    to   {  background-position: -1190px 0px; transform:  translateX(580px); }
}


@keyframes rocket {
    from {  transform: rotate(360deg) translateX(180px); }
    to   {  transform: rotate(0deg)   translateX(180px); }
}

@-webkit-keyframes rocket {
   from  {  transform: rotate(360deg) translateX(150px); }
    to   {  transform: rotate(0deg)   translateX(150px); }
}

@-webkit-keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRightBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(2000px, 0, 0);
    transform: translate3d(2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}



@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}


.rocket {
	position: absolute;
  left: 24px;
  top: -23px;
  z-index: -999;
	
}
