/* line 1, ../sass/partials/_mixins.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 30px 60px;
  max-width: 817px;
}

/* line 11, ../sass/partials/_mixins.scss */
_text-mobile-p {
  font-size: 24px;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

/* line 20, ../sass/partials/_mixins.scss */
.button {
  background-color: #f45e19;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -164px -229px;
  cursor: pointer;
  float: right;
}

/* line 34, ../sass/partials/_mixins.scss */
.circle {
  width: 100px;
  height: 100px;
  background: #f45e19;
  margin: 0px 0px 0px 216px;
  display: inline-block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 45, ../sass/partials/_mixins.scss */
.circle p {
  position: relative;
  color: #fff;
  font-size: 17px;
  right: 56px;
  width: 86px;
  text-align: center;
  top: 5px;
}

/* line 54, ../sass/partials/_mixins.scss */
#content_2 a {
  color: #fff;
}

/* line 56, ../sass/partials/_mixins.scss */
.floating-box {
  display: inline-block;
  margin: 46px;
}

/* line 6, ../sass/style.scss */
body {
  background: #1a53ff;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#1a53ff, #1affff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1a53ff, #1affff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1a53ff, #1affff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1a53ff, #1affff);
  /* Standard syntax */
  max-width: 100%;
  overflow-x: hidden;
}

/* line 16, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 22, ../sass/style.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* Intro */
/* line 30, ../sass/style.scss */
.line-1, .line-2, .line-3 {
  line-height: 1.9em;
}

/* line 34, ../sass/style.scss */
.line-1, .line-3 {
  font-size: 42px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* line 43, ../sass/style.scss */
.line-2 {
  font-size: 42px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  font-weight: 100px;
}

/* line 52, ../sass/style.scss */
.aeroplane {
  width: 336px;
  height: 286px;
  background: url(../images/aeroplane-slides.png);
  transition: play-aeroplane 2.5s cubic-bezier(0.17, 0.67, 0.78, -0.11);
  -webkit-transition: play-aeroplane 2.5s cubic-bezier(0.17, 0.67, 0.78, -0.11), 5s;
  transform: translate(-200px, 900px);
  -webkit-transform: translate(-200px, 900px);
}

@keyframes play-aeroplane {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes play-aeroplane {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(300px);
  }
}
/* line 79, ../sass/style.scss */
#introduction {
  position: absolute;
  left: 600px;
}

/* line 84, ../sass/style.scss */
#alien-spacecraft-1 {
  width: 300px;
  height: 300px;
  background: url(../images/alienspaceship.png);
}

/* line 90, ../sass/style.scss */
.alien {
  position: absolute;
  top: 40px;
  left: 200px;
}

/* line 96, ../sass/style.scss */
.text {
  font-size: 22px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* line 104, ../sass/style.scss */
.skills {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

/* line 112, ../sass/style.scss */
.text2 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  display: inline-block;
  padding: 15px;
  background: #99c432;
  border-radius: 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px;
}

/* line 126, ../sass/style.scss */
#heading-container-1 {
  position: absolute;
  left: 200px;
}

/* line 132, ../sass/style.scss */
#heading-container-2 {
  position: absolute;
  left: 400px;
}

/* line 137, ../sass/style.scss */
#heading-container-3 {
  position: absolute;
  left: 600px;
}

/* line 143, ../sass/style.scss */
#heading-container-4 {
  position: absolute;
  left: 800px;
}

/* line 148, ../sass/style.scss */
#text-1 {
  position: absolute;
  top: 30px;
  left: 50%;
}

/* line 154, ../sass/style.scss */
#text-2 {
  position: absolute;
  top: 30px;
  left: 40%;
}

/* line 160, ../sass/style.scss */
#text-forward-a {
  position: absolute;
  float: right;
  top: 24px;
  right: 91px;
  margin: 0;
}

/* line 169, ../sass/style.scss */
#text-forward-b {
  position: absolute;
  width: 140px;
  margin: 0;
  float: left;
  left: 71px;
  top: 26px;
}

/* line 178, ../sass/style.scss */
#text-forward-c {
  position: absolute;
  width: 140px;
  left: -50px;
  top: -77px;
}

/* line 186, ../sass/style.scss */
.text-container {
  width: 800px;
  height: auto;
}

/* line 191, ../sass/style.scss */
#text-container-1 {
  position: absolute;
  top: 400px;
  left: 600px;
}

/* line 197, ../sass/style.scss */
.fi-arrow-left {
  float: left;
  animation: pulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
}

/* line 204, ../sass/style.scss */
.fi-arrow-right {
  float: right;
  animation: pulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
}

/* line 211, ../sass/style.scss */
.size-48 {
  font-size: 48px;
}

/* line 212, ../sass/style.scss */
.size-73 {
  font-size: 72px;
  color: rgba(49, 38, 39, 0.68);
}

/* line 213, ../sass/style.scss */
.size-72 {
  font-size: 72px;
  color: rgba(221, 19, 36, 0.68);
}

/* line 214, ../sass/style.scss */
.size-102 {
  font-size: 102px;
  color: rgba(221, 19, 36, 0.68);
}

/* line 216, ../sass/style.scss */
.cloud2 {
  position: relative;
  left: 700px;
}

/* line 221, ../sass/style.scss */
#car2 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 231, ../sass/style.scss */
#ground-container {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 3000px;
}

/* line 239, ../sass/style.scss */
.grass {
  width: 2999px;
  height: 90px;
  background: url(../images/zig-zag.png);
}

/* line 245, ../sass/style.scss */
.ground {
  width: 100%;
  height: 20px;
  background: #999219;
  position: relative;
  bottom: 2%;
  z-index: 1111;
}

/* line 254, ../sass/style.scss */
#vinny-container {
  width: 14%;
  height: 198px;
  overflow: hidden;
  position: absolute;
  bottom: 107px;
  z-index: 1;
}

/* line 263, ../sass/style.scss */
.vinnycontainer {
  left: 800px;
}

/* line 267, ../sass/style.scss */
#tree1 {
  width: 500px;
  height: 700px;
  background: url(../images/tree.png);
  position: absolute;
  bottom: 96px;
  z-index: 999;
}

/* line 278, ../sass/style.scss */
#cloud1 {
  position: absolute;
  left: 29%;
  top: 107px;
}

/* line 284, ../sass/style.scss */
#cloud2 {
  position: absolute;
  left: 55%;
  top: 150px;
}

/* line 290, ../sass/style.scss */
#cloud3 {
  position: absolute;
  left: 20%;
  top: 110px;
}

/* line 297, ../sass/style.scss */
.cloud {
  width: 124px;
  height: 83px;
  background: url(../images/clouds/cloud3.png);
}

/* line 305, ../sass/style.scss */
.cloud2 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud2.png);
}

/* line 313, ../sass/style.scss */
.cloud3 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud.png);
}

/* line 322, ../sass/style.scss */
#mushroom-man {
  overflow: hidden;
  position: absolute;
  bottom: 107px;
  left: 1014px;
}

/* line 329, ../sass/style.scss */
.mushroom {
  width: 65px;
  height: 74px;
  background: url(../images/sprite-mushroomman.png);
  animation: play-mushroom 7s steps(3) infinite;
  -webkit-animation: play-mushroom 7s steps(3) infinite;
}

/* line 338, ../sass/style.scss */
.london-skyline {
  width: 1919px;
  height: 500px;
  background: url(../images/london-skyline.png);
  opacity: 0.3;
  filter: alpha(opacity=60);
}

/* line 346, ../sass/style.scss */
#london-skyline-1 {
  position: absolute;
  bottom: 102px;
  left: 1px;
}

/* line 352, ../sass/style.scss */
#layer-horizontal-1 {
  width: 1880px;
  height: 500px;
}

/* line 358, ../sass/style.scss */
#layer-horizontal-2 {
  position: absolute;
  top: 30px;
  left: 0px;
}

/* line 364, ../sass/style.scss */
#my-skills-container {
  position: absolute;
  left: 0px;
  width: 900px;
  bottom: 1%;
  height: 80%;
}

/* line 373, ../sass/style.scss */
#layer-horizontal-4 {
  width: 500px;
  display: inline-block;
  float: left;
}

/* line 379, ../sass/style.scss */
.horizontal {
  width: 5200px;
  height: 900px;
}

/* line 384, ../sass/style.scss */
.myskills {
  position: absolute;
  left: 2105px;
}

/* line 389, ../sass/style.scss */
#vinny {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  /*animation: play 1s steps(2)  infinite 1s ;
  -webkit-animation: play 1s steps(2) infinite 1s;*/
}

/* line 397, ../sass/style.scss */
.on {
  animation: play 1s steps(2) infinite 1s;
  -webkit-animation: play 1s steps(2) infinite 1s;
}

/* line 402, ../sass/style.scss */
.off {
  animation-name: none;
  -webkit-animation-name: none;
}

/* myskills */
/* line 410, ../sass/style.scss */
.barchart {
  position: absolute;
  left: 2200px;
}

/* line 415, ../sass/style.scss */
.postman {
  position: absolute;
  left: 1900px;
  bottom: 34px;
}

/* line 422, ../sass/style.scss */
.section-text {
  position: relative;
  top: 208px;
  left: 4px;
}

/* line 428, ../sass/style.scss */
#section-1 {
  font-size: 22px;
  color: #000;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}

/* line 437, ../sass/style.scss */
#postman1 {
  width: 400px;
  height: 500px;
  background: url(../images/postman.png);
  background-size: 400px 500px;
}

/* line 446, ../sass/style.scss */
#bar-chart-1 {
  width: 600px;
  height: 400px;
  padding: 20px;
}

/* line 452, ../sass/style.scss */
#axis-left {
  width: 5px;
  height: 400px;
  opacity: 0.4;
  background: #fff;
}

/* line 460, ../sass/style.scss */
#axis-main {
  width: 700px;
  height: 5px;
  opacity: 0.4;
  background: #fff;
}

/* line 468, ../sass/style.scss */
#y-axis-text {
  width: 150px;
  height: 400px;
}

/* line 473, ../sass/style.scss */
#bar-1 {
  width: 50px;
  height: 200px;
  background-color: #841111;
  overflow: hidden;
  animation-name: slideInUp;
  animation-fill-mode: both;
  animation-duration: 5s;
  -webkit-animation-name: slideInUp;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 5s;
}

/* line 486, ../sass/style.scss */
.bar {
  position: absolute;
  bottom: 5px;
  left: 12px;
}

/* line 492, ../sass/style.scss */
.axistext1 {
  position: absolute;
  left: 2054px;
  top: 71px;
}

/* line 498, ../sass/style.scss */
.axis {
  position: relative;
  left: 20px;
}

/* line 503, ../sass/style.scss */
#column-1, #column-2, #column-3, #column-4 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  line-height: 3.9em;
}

/*  Travel section   */
/* line 514, ../sass/style.scss */
#layer-horizontal-3 {
  width: 1500px;
  height: 600px;
  position: absolute;
  left: 3016px;
  bottom: 90px;
}

/* line 522, ../sass/style.scss */
#ground-3 {
  width: 2000px;
  height: 20px;
  background: #BCB907;
}

/* line 528, ../sass/style.scss */
.ground3 {
  position: absolute;
  bottom: 0%;
  left: -17px;
}

/* line 535, ../sass/style.scss */
#ground-2 {
  width: 2000px;
  height: 90px;
  background: #906610;
}

/* line 540, ../sass/style.scss */
.ground2 {
  position: absolute;
  top: 100%;
  left: -17px;
}

/* line 546, ../sass/style.scss */
.dune {
  position: absolute;
  bottom: 3%;
}

/* line 551, ../sass/style.scss */
.dune3 {
  position: absolute;
  bottom: -7%;
  left: 3372px;
}

/* line 558, ../sass/style.scss */
.sun {
  position: absolute;
  top: 20px;
  left: 3200px;
}

/* line 564, ../sass/style.scss */
.cactus {
  position: absolute;
  left: 1341px;
  bottom: -4px;
}

/* line 571, ../sass/style.scss */
#cactus-1 {
  width: 140px;
  height: 296px;
  background: url(../images/cactus.png);
  z-index: -1111;
  animation-play-state: running;
  -webkit-animation-play-state: running;
}

/* line 580, ../sass/style.scss */
.pause {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

@keyframes cactus {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: traslateX(200px);
  }
}
@-webkit-keyframes cactus {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: traslateX(200px);
  }
}
/* line 599, ../sass/style.scss */
#sun-1 {
  width: 163px;
  height: 169px;
  background: url(../images/sun.png);
  z-index: -9999;
}

/* line 606, ../sass/style.scss */
#dunes-1 {
  width: 800px;
  height: 600px;
  background: url(../images/dune1.png);
  z-index: -9999;
}

/* line 613, ../sass/style.scss */
#dunes-2 {
  width: 800px;
  height: 600px;
  background: url(../images/dune2.png);
  z-index: -9999;
  left: 800px;
}

/* line 621, ../sass/style.scss */
#dunes-3 {
  width: 800px;
  height: 600px;
  background: url(../images/dune1.png);
  z-index: -9999;
}

/* Animation */
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    transform: scale(0);
  }
  to {
    transform: translate3d(0, 100%, 0);
    transform: scale(1);
  }
}
@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    transform: scale(0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
}
@keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@keyframes play-rabbit {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}
@-webkit-keyframes play-rabbit {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}
