@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";

body {
	background: #1a53ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#1a53ff, #1affff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#1a53ff, #1affff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#1a53ff, #1affff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#1a53ff, #1affff); /* Standard syntax */
	max-width: 100%;
	overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}


#wrapper {
	width: 100%;
	height: 100%;

}

/* Intro */

.line-1, .line-2, .line-3 {
	line-height: 1.9em;
}

.line-1, .line-3 {
	
	font-size: 42px;
  	color: white;
  	font-family: 'Raleway', sans-serif;
  	text-align: center;
	
}

.line-2 {
	font-size: 42px;
  	color: white;
  	font-family: 'Fredoka One', cursive;
  	text-align: center;
  	font-weight: 100px

}

.aeroplane {
	width: 336px;
	height: 286px;
	background: url(../images/aeroplane-slides.png);
	transition: play-aeroplane 2.5s cubic-bezier(.17,.67,.78,-0.11);
  	-webkit-transition: play-aeroplane 2.5s cubic-bezier(.17,.67,.78,-0.11), 5s;
  	transform: translate(-200px, 900px);
  	-webkit-transform: translate(-200px, 900px);

	
}


@keyframes play-aeroplane {
	
	0%	{ transform: translateX(0px); }
	100% 		{ transform: translateX(300px); }
}


@-webkit-keyframes play-aeroplane {

	0% 	{ transform: translateX(0px); }
	100% 		{ transform: translateX(300px); }
}


#introduction {
	position: absolute;
	left: 600px
}

#alien-spacecraft-1 {
	width: 300px;
	height: 300px;
	background: url(../images/alienspaceship.png);
}

.alien {
	position: absolute;
	top: 40px;
	left: 200px
}

.text {
  font-size: 22px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;

}

.skills {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}


.text2 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  display: inline-block;
  padding:15px;
  background: #99c432;
  border-radius: 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px;
  

}

#heading-container-1 {
	position: absolute;
	left:200px
}


#heading-container-2 {
	position: absolute;
	left:400px
}

#heading-container-3 {
	position: absolute;
	left:600px
}


#heading-container-4 {
	position: absolute;
	left:800px
}

#text-1 {
	position: absolute;
	top: 30px;
	left: 50%;
}

#text-2 {
	position: absolute;
	top: 30px;
	left: 40%;
}

#text-forward-a {
	position: absolute;
	float: right;
	top: 24px;
    right: 91px;
    margin: 0;

}

#text-forward-b {
	position: absolute;
	width: 140px;
	margin: 0;
	float: left;
	left: 71px;
    top: 26px;
}

#text-forward-c {
	position: absolute;
    width: 140px;
    left: -50px;
    top: -77px;
}


.text-container {
	width: 800px;
	height: auto;
}

#text-container-1 {
	position: absolute;
	top: 400px;
    left: 600px;
}

.fi-arrow-left {
	float: left;
	animation: pulse 4s infinite;
	-webkit-animation: pulse 4s infinite;

}

.fi-arrow-right { 
	float: right;
	animation: pulse 4s infinite;
	-webkit-animation: pulse 4s infinite;
 
  }

 .size-48 { font-size: 48px;}
 .size-73 { font-size: 72px; color: rgba(49, 38, 39, 0.68); }
 .size-72 { font-size: 72px; color: hsla(355, 84%, 47%, 0.68); }
 .size-102 { font-size: 102px; color: hsla(355, 84%, 47%, 0.68); }

.cloud2 {
	position: relative;
	left: 700px;
}

#car2 {
	width: 300px;
	height: 300px;
	padding: 20px;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	border: solid 1px #ddd
}


#ground-container {
	position: absolute;
    left: 0;
    bottom: 0%;
    width: 3000px; 

}

.grass {
	width: 2999px;
	height: 90px;
	background: url(../images/zig-zag.png);
	background-color: #a01c74;
    background-blend-mode: multiply;
}

.ground {
	width: 100%;
	height: 20px;
	background: #191a1b;
	position: relative;
	bottom: 2%;
	z-index: 1111;
}

#vinny-container {
	width: 14%;
	height: 198px;
	overflow: hidden;
	position: absolute;
    bottom: 107px;
    z-index: 1;
}

.vinnycontainer {
	left: 800px
}

.tree{
	position: absolute;
	bottom: 96px;
	left: 3200px
}

#tree1 {
	width: 500px;
	height: 700px;
	background: url(../images/tree.png);
	z-index: 999;
	display: none;
	animation: slideInLeft 2s linear;
	-webkit-animation: slideInLeft 2s linear;	
}


#cloud1 {
	position: absolute;
	left: 2900px;
    top: 107px;
}

#cloud2 {
	position: absolute;
	left: 3200px;
    top: 150px;
}

#cloud3 {
	position: absolute;
	left: 3600px;
	top: 110px;
}


.cloud {
	width: 124px;
  	height: 83px;
  	background: url(../images/clouds/cloud3.png);
  	z-index: -99999;
  	
	
}

.cloud2 {
	width: 77px;
  	height: 47px;
  	background: url(../images/clouds/cloud2.png);
 	z-index: -99999;	
}

.cloud3 {
	width: 77px;
  	height: 47px;
  	background: url(../images/clouds/cloud.png);
  	z-index: -99999;	
}


#mushroom-man {
	overflow: hidden;
	position: absolute;
    bottom: 107px;
    left: 1014px
}

.mushroom {
  width: 65px;
  height: 74px;
  background: url(../images/sprite-mushroomman.png);
  animation: play-mushroom 7s steps(3) infinite;
  -webkit-animation: play-mushroom 7s steps(3) infinite;
}


.london-skyline {
	width: 1919px;
	height: 500px;
	background: url(../images/london-skyline.png);
	opacity: 0.3;
    filter: alpha(opacity=60);
}

#london-skyline-1 {
	position: absolute;
	bottom: 102px;
	left:1px
}

/*.horizontal1 {
	

}*/

.lampost {
	position: absolute;
	left: 200px;
	bottom: 108px;
}

.moon {
	position: absolute;
	top: 20px;
	left: 10px
}


.foggy-1 {
	position: absolute;
	left: 7px;
	top: -36px;
}


.foggy-2 {
	position: absolute;
	left: 950px;
	top: 400px;
}

.foggy-3 {
	position: absolute;
	left: 342px;
	top: 313px;
	
}


#fog3 {
	width: 900px;
	height: 400px;
	background: url(../images/fog3.png)
}

#fog2 {
	width: 600px;
	height: 300px;
	background: url(../images/fog2.png)
}

#fog1 {
	width: 400px;
	height: 400px;
	background: url(../images/fog.png)
}

#moon-1 {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 164px;
	background: rgba(226,226,226,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(247,242,247,1) 55%, rgba(184,171,184,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(226,226,226,1)), color-stop(55%, rgba(247,242,247,1)), 	color-stop(100%, rgba(184,171,184,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(247,242,247,1) 55%, rgba(184,171,184,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(247,242,247,1) 55%, rgba(184,171,184,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(226,226,226,1) 0%, rgba(247,242,247,1) 55%, rgba(184,171,184,1) 100%);
	background: radial-gradient(ellipse at center, rgba(226,226,226,1) 0%, rgba(247,242,247,1) 55%, rgba(184,171,184,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#b8abb8', GradientType=1 );
	box-shadow: 3px 3px 3px #000;
	animation: fadeIn 2s;
	-webkit-animation: fadeIn 2s;
}


@keyframes slideInLeft {
	from { transform: translateX(1000px); }
	to   { transform: translateX( -300px); }

}

@-webkit-keyframes slideInLeft {
	from { transform: translateX(-1000px); }
	to   { transform: translateX( 300px); }

}

@keyframes fadeIn {
	from { transform: scale(0); }
	to 	 { transform: scale(100%); }
}

@-webkit-keyframes fadeIn {
	from { transform: scale(0); }
	to 	 { transform: scale(100%); }
}

#london-lampost {
	background: url(../images/lampost.png);
	width: 340px;
	height: 800px;

}




#layer-horizontal-1 {
	background: #07031d; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #07031d, #000000, #196af8, bottom right #1a9aff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #07031d , #000000, #196af8); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #07031d, #000000, #196af8); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #07031d, #000000, #196af8); /* Standard syntax (must be last) */
	width: 3000px;
	height: 900px;
	
}

#layer-horizontal-2 {
	position: absolute;
    top: 30px;
    left: 0px;
}

#my-skills-container {
	position: absolute;
	left: 0px;
	width: 900px;
	bottom: 1%;
	height: 80%;
}


#layer-horizontal-4 {
	width: 500px;
	display: inline-block;
	float:left;
}	

.horizontal {
	width: 5200px;
	height: 900px;
}

.myskills{
	position: absolute;
	left:2105px;
}

#vinny {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  animation: play 1s steps(2)  infinite 1s ;
  -webkit-animation: play 1s steps(2) infinite 1s;
}

.on {
	animation: play 1s steps(2)  infinite 1s ;
  -webkit-animation: play 1s steps(2) infinite 1s;
}

.off {
	animation-name: none;
    -webkit-animation-name: none;
	
}

/* myskills */

.barchart {
	position: absolute;
	left: 2200px;
}

.postman {
	position: absolute;
	left: 1692px;
	bottom: 34px; 
}


.section-text {
	position: relative;
	top: 208px;
	left:4px
}

#section-1 {
	
  font-size: 22px;
  color: #000;
  font-family: 'Fredoka One', cursive;
  text-align: center;
}


#postman1 {
	width: 400px;
	height: 500px;
	background: url(../images/postman.png);
	background-size: 400px 500px

}


#bar-chart-1 {	
	width: 600px;
	height: 400px;
	padding: 20px
}

#axis-left {
	width: 5px;
	height: 400px;
	opacity: 0.4;
	background: #fff;

}

#axis-main{
	width: 700px;
	height: 5px;
	opacity: 0.4;
	background: #fff;

}

#y-axis-text {	
	width: 150px;
	height: 400px;
}

#bar-1 {
	width: 50px;
	height: 200px;
	background-color: #841111;
	overflow: hidden;
	animation-name: slideInUp;
	animation-fill-mode: both;
	animation-duration: 5s;  
	-webkit-animation-name: slideInUp;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 5s;
}

.bar {
	position: absolute;
	bottom: 5px;
	left: 12px
}

.axistext1 {
	position: absolute;
	left: 2054px;
    top: 71px;
}

.axis {
	position: relative;
	left:20px
}

#column-1, #column-2, #column-3, #column-4 {
	font-size: 22px;
  	color: white;
  	font-family: 'Fredoka One', cursive;
  	line-height: 3.9em;
}


/*  Travel section   */


#layer-horizontal-3 {
	width: 1500px;
	height: 600px;
	position: absolute;
	left: 3016px;
	bottom: 90px;
}

#ground-3 {
	width: 2000px;
	height: 20px;
	background: #BCB907;
}

.ground3 {
	position: absolute;
	bottom: 0%;
	left: -17px;
}


#ground-2 {
	width: 2000px;
	height: 90px;
	background: #906610;
}
.ground2 {
	position: absolute;
	top:100%;
	left: -17px;
}

.dune {
	position: absolute;
	bottom: 3%;
}

.dune3 {
	position: absolute;
	bottom: -7%;
	left: 3372px;

}

.sun {
	position: absolute;
	top: 20px;
	left: 3200px;
}

.cactus {
	position: absolute;
	left: 1341px;
	bottom: -4px;
}

.burj {
	position: absolute;
	bottom: 19%;
    left: 3756px;
}


#burj-khalifa {
	width: 340px;
	height: 800px;
	background: url(../images/burj-khalifa.png);
	z-index: -99999;
}

#cactus-1 {
	width: 140px;
	height: 296px;
	background: url(../images/cactus.png);
	z-index: -1111;
	animation-play-state: running;
	-webkit-animation-play-state: running;
}

.pause {
	animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

@keyframes cactus {
	
	from { transform: translateX(-200px); }
	to 	{ transform: traslateX(200px); }
}

@-webkit-keyframes cactus {
	
	from { transform: translateX(-200px); }
	to 	{ transform: traslateX(200px); }
}



#sun-1 {
	width: 163px;
	height: 169px;
	background: url(../images/sun.png);
	z-index: -9999;
	display: none;
	animation: slideInUp 3s linear;
	-webkit-animation: slideInUp 3s linear;
}

#dunes-1 {
	width: 800px;
	height: 600px;
	background: url(../images/dune1.png);
	z-index: -9999;
}

#dunes-2 {
	width: 800px;
	height: 600px;
	background: url(../images/dune2.png);
	z-index: -9999;
	left: 800px
}

#dunes-3 {
	width: 800px;
	height: 600px;
	background: url(../images/dune1.png);
	z-index: -9999;
}

/* Animation */

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    transform: scale(0);
  }

  to {
    transform: translate3d(0, 100%, 0);
    transform: scale(1);
  }
}

@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    transform: scale(0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
}


@keyframes play-mushroom {
  from 	{  background-position: 0px;   }
  to 	{  background-position: -500px; }
}


@-webkit-keyframes play-mushroom {
  from { background-position: 0px; }
  to {background-position: -500px; }
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}

@-webkit-keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.5);}
  100% {transform: scale(1);}
}


@keyframes play {
  from 	{  background-position: 0px;  }
  to 	{  background-position: -500px; }
}


@-webkit-keyframes play {
  from { background-position: 0px; }
  to {background-position: -500px; }
}


@keyframes play-rabbit {
  from 	{  background-position: 0px;  }
  to 	{  background-position: -300px; }
}


@-webkit-keyframes play-rabbit {
  from { background-position: 0px; }
  to {background-position: -300px; }
}

