.text  {
	font-size:32px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 30px 60px;
    max-width: 817px;
}


_text-mobile-p  {
	font-size:24px;
    color: #343434;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0 auto;
    width: 100%;
}

.button {
    background-color: #f45e19;
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: -164px -229px;
    cursor: pointer;
    float: right;
}

.circle {
    width: 100px;
    height: 100px;
    background: #f45e19;
    margin: 0px 0px 0px 216px;
    display: inline-block;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
}

.circle p {     
    position: relative;
    color: #fff;
    font-size: 17px;
    right: 56px;
    width: 86px;
    text-align: center;
    top: 5px; }

#content_2 a { color: #fff; }

.floating-box { display: inline-block; margin: 46px}

@mixin center() {
  display: block;
  margin: 0 auto;
  max-width: 1113px;
  margin-top: -61px;
}

@mixin left-side-bar(){   
    width: 193px;
    height: 76px;
    border-bottom: solid #b05226 1px;
}

@mixin dsp_cert_amnt(){
    width: 262px;
    height: 132px;
    /*border: solid #f6a57b 2px;*/
    padding: 1px 0px 0px 17px;
    display: inline-block;
}

@mixin dsp_cert_nmbr(){
    width: 262px;
    height: 132px;
    padding: 1px 0px 0px 17px;
    display: inline-block;
}

@mixin column-left(){
    display: inline-block;
    max-width: 600px;
    height: auto;
}

@mixin column-right(){
    display: inline-block;
    max-width: 600px;
    min-height: 200px;
    height: auto;
}

@mixin contact-info(){
    display: inline-block;
    width: 400px;
    height: auto;
}
