$black: #000;
$white: #fff;
$orange: #f45e19;
$grey: #343434;
$error: #e60616;
$font-size-h1: 33px;
$font-size-h2: 20px;
$width: 100%;
$width-slider: 711px;
$padding: 40px 0px 20px 20px;
$left-sidebar-bg: #2d2d2d; 
$side-bar-width: 193px; 
$rtr-color: #f59767;
$signout: #F45E19;
$site-info-bg: #181717;
$margin-auto: 0 auto;
$button: linear-gradient(to bottom, #2D2D2D 0%, #181717 100%);
 




