/* line 1, ../sass/partials/_mixins.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 30px 60px;
  max-width: 817px;
}

/* line 11, ../sass/partials/_mixins.scss */
_text-mobile-p {
  font-size: 24px;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

/* line 20, ../sass/partials/_mixins.scss */
.button {
  background-color: #f45e19;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -164px -229px;
  cursor: pointer;
  float: right;
}

/* line 34, ../sass/partials/_mixins.scss */
.circle {
  width: 100px;
  height: 100px;
  background: #f45e19;
  margin: 0px 0px 0px 216px;
  display: inline-block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 45, ../sass/partials/_mixins.scss */
.circle p {
  position: relative;
  color: #fff;
  font-size: 17px;
  right: 56px;
  width: 86px;
  text-align: center;
  top: 5px;
}

/* line 54, ../sass/partials/_mixins.scss */
#content_2 a {
  color: #fff;
}

/* line 56, ../sass/partials/_mixins.scss */
.floating-box {
  display: inline-block;
  margin: 46px;
}

/* line 6, ../sass/style.scss */
body {
  background: #0A7BC4;
  max-width: 100%;
  overflow-x: hidden;
}

/* line 12, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 18, ../sass/style.scss */
h1 {
  font-family: 'arial', helvetica;
  font-size: 18px;
  color: #000;
}

/* line 25, ../sass/style.scss */
#wrapper {
  width: 100%;
  height: 100%;
}

/* line 31, ../sass/style.scss */
#car1 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 41, ../sass/style.scss */
#introduction {
  position: absolute;
  left: 600px;
}

/* line 46, ../sass/style.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

/* line 55, ../sass/style.scss */
.text2 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  text-align: center;
  display: inline-block;
}

/* line 64, ../sass/style.scss */
#heading-container-1 {
  position: absolute;
  left: 200px;
}

/* line 69, ../sass/style.scss */
#heading-container-2 {
  position: absolute;
  left: 400px;
}

/* line 74, ../sass/style.scss */
#heading-container-3 {
  position: absolute;
  left: 600px;
}

/* line 80, ../sass/style.scss */
#heading-container-4 {
  position: absolute;
  left: 800px;
}

/* line 87, ../sass/style.scss */
#text-forward-a {
  position: absolute;
  float: right;
  top: 18px;
  right: 56px;
}

/* line 95, ../sass/style.scss */
#text-forward-b {
  position: absolute;
  width: 140px;
  margin-bottom: 12px;
  float: left;
  left: 49px;
  top: 20px;
}

/* line 104, ../sass/style.scss */
#text-forward-c {
  position: absolute;
  width: 140px;
  left: 249px;
  top: 20px;
}

/* line 112, ../sass/style.scss */
.text-container {
  position: absolute;
  left: 600px;
  top: 200px;
}

/* line 118, ../sass/style.scss */
.fi-arrow-left {
  float: left;
  animation: pulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
}

/* line 125, ../sass/style.scss */
.fi-arrow-right {
  float: right;
  animation: pulse 4s infinite;
  -webkit-animation: pulse 4s infinite;
}

/* line 132, ../sass/style.scss */
.size-48 {
  font-size: 48px;
}

/* line 133, ../sass/style.scss */
.size-73 {
  font-size: 72px;
  color: rgba(49, 38, 39, 0.68);
}

/* line 134, ../sass/style.scss */
.size-72 {
  font-size: 72px;
  color: rgba(221, 19, 36, 0.68);
}

/* line 135, ../sass/style.scss */
.size-102 {
  font-size: 102px;
  color: rgba(221, 19, 36, 0.68);
}

/* line 137, ../sass/style.scss */
.cloud2 {
  position: relative;
  left: 700px;
}

/* line 142, ../sass/style.scss */
#car2 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 152, ../sass/style.scss */
#ground-container {
  position: absolute;
  left: 0;
  bottom: 0%;
  width: 3000px;
}

/* line 160, ../sass/style.scss */
.grass {
  width: 6000px;
  height: 90px;
  background: url(../images/zig-zag.png);
}

/* line 166, ../sass/style.scss */
.ground {
  width: 100%;
  height: 20px;
  background: #262222;
  position: relative;
  bottom: 2%;
  z-index: 1111;
}

/* line 175, ../sass/style.scss */
#vinny-container {
  width: 14%;
  height: 198px;
  overflow: hidden;
  position: absolute;
  bottom: 107px;
}

/* line 183, ../sass/style.scss */
.vinnycontainer {
  left: 800px;
}

/* line 187, ../sass/style.scss */
#tree1 {
  width: 500px;
  height: 700px;
  background: url(../images/tree.png);
  position: absolute;
  bottom: 96px;
  z-index: 999;
}

/* line 198, ../sass/style.scss */
#cloud1 {
  position: relative;
  left: 500px;
}

/* line 203, ../sass/style.scss */
#cloud2 {
  position: relative;
  left: 900px;
  top: 30px;
}

/* line 209, ../sass/style.scss */
#cloud3 {
  position: relative;
  left: 30px;
  top: 69px;
}

/* line 216, ../sass/style.scss */
.cloud {
  width: 124px;
  height: 83px;
  background: url(../images/clouds/cloud3.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 225, ../sass/style.scss */
.cloud2 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud2.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 234, ../sass/style.scss */
.cloud3 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 244, ../sass/style.scss */
#mushroom-man {
  overflow: hidden;
  position: absolute;
  bottom: 107px;
  left: 1014px;
}

/* line 251, ../sass/style.scss */
.mushroom {
  width: 65px;
  height: 74px;
  background: url(../images/sprite-mushroomman.png);
  animation: play-mushroom 7s steps(3) infinite;
  -webkit-animation: play-mushroom 7s steps(3) infinite;
}

/* line 260, ../sass/style.scss */
.london-skyline {
  width: 1919px;
  height: 500px;
  background: url(../images/london-skyline.png);
  opacity: 0.3;
  filter: alpha(opacity=60);
}

/* line 268, ../sass/style.scss */
#london-skyline-1 {
  position: absolute;
  bottom: 102px;
  left: 1px;
}

/* line 274, ../sass/style.scss */
#layer-horizontal-1 {
  width: 1880px;
  height: 500px;
}

/* line 280, ../sass/style.scss */
#layer-horizontal-2 {
  width: 2200px;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

/* line 289, ../sass/style.scss */
#layer-horizontal-3 {
  width: 1500px;
  height: 600px;
  display: inline-block;
  background: blue;
  float: right;
  display: none;
}

/* line 298, ../sass/style.scss */
#layer-horizontal-4 {
  width: 500px;
  display: inline-block;
  float: left;
}

/* line 304, ../sass/style.scss */
.horizontal {
  width: 5200px;
  height: 900px;
}

/* line 309, ../sass/style.scss */
.myskills {
  position: absolute;
  left: 2000px;
}

/* line 314, ../sass/style.scss */
.vinny1 {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  animation: stop 0.8s steps(2) infinite;
  -webkit-animation: stop 0.8s steps(2) infinite;
}

/* myskills */
/* line 324, ../sass/style.scss */
.barchart {
  position: absolute;
  left: 2200px;
}

/* line 328, ../sass/style.scss */
#bar-chart-1 {
  width: 600px;
  height: 400px;
  padding: 20px;
}

/* line 334, ../sass/style.scss */
#axis-left {
  width: 5px;
  height: 400px;
  opacity: 0.4;
  background: #fff;
}

/* line 342, ../sass/style.scss */
#axis-main {
  width: 700px;
  height: 5px;
  opacity: 0.4;
  background: #fff;
}

/* line 350, ../sass/style.scss */
#y-axis-text {
  width: 150px;
  height: 400px;
}

/* line 355, ../sass/style.scss */
#bar-1 {
  width: 50px;
  height: 200px;
  background-color: #841111;
  overflow: hidden;
  animation-name: slideInUp;
  animation-fill-mode: both;
  animation-duration: 5s;
  -webkit-animation-name: slideInUp;
  -webkit-animation-fill-mode: both;
  -webkit-animation-duration: 5s;
}

/* line 368, ../sass/style.scss */
.bar {
  position: absolute;
  bottom: 5px;
  left: 12px;
}

/* line 374, ../sass/style.scss */
.axistext1 {
  position: absolute;
  left: 2054px;
  top: 140px;
}

/* line 380, ../sass/style.scss */
.axis {
  position: relative;
  left: 20px;
}

/* line 385, ../sass/style.scss */
#column-1, #column-2, #column-3, #column-4 {
  font-size: 22px;
  color: white;
  font-family: 'Fredoka One', cursive;
  line-height: 3.9em;
}

/* Animation */
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
    transform: scale(0);
  }
  to {
    transform: translate3d(0, 100%, 0);
    transform: scale(1);
  }
}
@-webkit-keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    transform: scale(0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    transform: scale(1);
  }
}
@keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@keyframes play-rabbit {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}
@-webkit-keyframes play-rabbit {
  from {
    background-position: 0px;
  }
  to {
    background-position: -300px;
  }
}
