/* line 1, ../sass/partials/_mixins.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 30px 60px;
  max-width: 817px;
}

/* line 11, ../sass/partials/_mixins.scss */
_text-mobile-p {
  font-size: 24px;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

/* line 20, ../sass/partials/_mixins.scss */
.button {
  background-color: #f45e19;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -164px -229px;
  cursor: pointer;
  float: right;
}

/* line 34, ../sass/partials/_mixins.scss */
.circle {
  width: 100px;
  height: 100px;
  background: #f45e19;
  margin: 0px 0px 0px 216px;
  display: inline-block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 45, ../sass/partials/_mixins.scss */
.circle p {
  position: relative;
  color: #fff;
  font-size: 17px;
  right: 56px;
  width: 86px;
  text-align: center;
  top: 5px;
}

/* line 54, ../sass/partials/_mixins.scss */
#content_2 a {
  color: #fff;
}

/* line 56, ../sass/partials/_mixins.scss */
.floating-box {
  display: inline-block;
  margin: 46px;
}

/* line 6, ../sass/style.scss */
body {
  background: #0A7BC4;
}

/* line 10, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/style.scss */
h1 {
  font-family: 'arial', helvetica;
  font-size: 18px;
  color: #000;
}

/* line 23, ../sass/style.scss */
#car1 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 33, ../sass/style.scss */
#introduction {
  width: 800px;
  margin: 0 auto;
}

/* line 38, ../sass/style.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Fredoka One', cursive;
  font-weight: 100;
  text-align: center;
  margin: 30px 60px;
  max-width: 817px;
}

/* line 48, ../sass/style.scss */
.text-forward-a {
  position: relative;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-size: 24px;
  float: right;
}

/* line 57, ../sass/style.scss */
.text-forward-b {
  position: relative;
  width: 140px;
  font-family: 'Fredoka One', cursive;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 12px;
  float: left;
}

/* line 68, ../sass/style.scss */
.text-container {
  width: 50%;
  margin: 0 auto;
}

/* line 74, ../sass/style.scss */
.fi-arrow-right {
  float: right;
}

/* line 75, ../sass/style.scss */
.size-48 {
  font-size: 48px;
}

/* line 76, ../sass/style.scss */
.size-72 {
  font-size: 72px;
  color: #fff;
}

/* line 77, ../sass/style.scss */
.size-102 {
  font-size: 102px;
  color: #fff;
}

/* line 79, ../sass/style.scss */
.cloud2 {
  position: relative;
  left: 700px;
}

/* line 83, ../sass/style.scss */
#car2 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 92, ../sass/style.scss */
.grass {
  width: auto;
  height: 90px;
  background: url(../images/zig-zag.png);
}

/* line 98, ../sass/style.scss */
#ground {
  width: auto;
  height: 20px;
  background: #262222;
  position: relative;
  bottom: 0px;
}

/* line 106, ../sass/style.scss */
#vinny-container {
  width: 14%;
  height: 198px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0;
}

/* line 115, ../sass/style.scss */
#big-ben1 {
  width: 470px;
  height: 711px;
  background: url(../images/big-ben.png);
  position: relative;
  top: 17%;
}

/* line 126, ../sass/style.scss */
#cloud1 {
  position: relative;
  left: 500px;
}

/* line 131, ../sass/style.scss */
#cloud2 {
  position: relative;
  left: 900px;
  top: 30px;
}

/* line 137, ../sass/style.scss */
#cloud3 {
  position: relative;
  left: 30px;
  top: 69px;
}

/* line 146, ../sass/style.scss */
.cloud {
  width: 124px;
  height: 83px;
  background: url(../images/clouds/cloud3.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 155, ../sass/style.scss */
.cloud2 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud2.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 164, ../sass/style.scss */
.cloud3 {
  width: 77px;
  height: 47px;
  background: url(../images/clouds/cloud.png);
  animation: moving-clouds 7s steps(2) infinite;
  -webkit-animation: moving-clouds 7s steps(2) infinite;
}

/* line 175, ../sass/style.scss */
#mushroom-man {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  bottom: -199px;
  left: 202px;
}

/* line 183, ../sass/style.scss */
.mushroom {
  width: 65px;
  height: 74px;
  background: url(../images/sprite-mushroomman.png);
  animation: play-mushroom 7s steps(3) infinite;
  -webkit-animation: play-mushroom 7s steps(3) infinite;
}

@keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play-mushroom {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
/* line 205, ../sass/style.scss */
#layer-horizontal-2 {
  width: 1902px;
  height: 600px;
  position: absolute;
  bottom: 0px;
}

/* line 212, ../sass/style.scss */
#layer-horizontal-3 {
  width: 1902px;
  height: 600px;
  position: absolute;
  top: 0;
}

/* line 221, ../sass/style.scss */
.vinny1 {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  animation: stop 0.8s steps(2) infinite;
  -webkit-animation: stop 0.8s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
/* line 241, ../sass/style.scss */
#layer-horizontal-1 {
  width: 1000px;
  height: 246px;
}
