/* line 1, ../sass/partials/_mixins.scss */
.text {
  font-size: 32px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 30px 60px;
  max-width: 817px;
}

/* line 11, ../sass/partials/_mixins.scss */
_text-mobile-p {
  font-size: 24px;
  color: #343434;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0 auto;
  width: 100%;
}

/* line 20, ../sass/partials/_mixins.scss */
.button {
  background-color: #f45e19;
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -164px -229px;
  cursor: pointer;
  float: right;
}

/* line 34, ../sass/partials/_mixins.scss */
.circle {
  width: 100px;
  height: 100px;
  background: #f45e19;
  margin: 0px 0px 0px 216px;
  display: inline-block;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

/* line 45, ../sass/partials/_mixins.scss */
.circle p {
  position: relative;
  color: #fff;
  font-size: 17px;
  right: 56px;
  width: 86px;
  text-align: center;
  top: 5px;
}

/* line 54, ../sass/partials/_mixins.scss */
#content_2 a {
  color: #fff;
}

/* line 56, ../sass/partials/_mixins.scss */
.floating-box {
  display: inline-block;
  margin: 46px;
}

/* line 6, ../sass/style.scss */
body {
  background: #0A7BC4;
}

/* line 10, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 16, ../sass/style.scss */
h1 {
  font-family: 'arial', helvetica;
  font-size: 18px;
  color: #000;
}

/* line 23, ../sass/style.scss */
#car1 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 33, ../sass/style.scss */
#introduction {
  width: 800px;
  margin: 0 auto;
}

/* line 38, ../sass/style.scss */
.text-forward-a {
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffffff;
  font-size: 24px;
  float: right;
}

/* line 47, ../sass/style.scss */
.text-forward-b {
  position: relative;
  width: 440px;
  font-family: 'Cabin', sans-serif;
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 12px;
}

/* line 57, ../sass/style.scss */
.text-container {
  width: 710px;
  margin: 0 auto;
  position: relative;
}

/* line 64, ../sass/style.scss */
#car2 {
  width: 300px;
  height: 300px;
  padding: 20px;
  margin: 0px 20px 0px 20px;
  display: inline-block;
  border: solid 1px #ddd;
}

/* line 73, ../sass/style.scss */
#vinny-container {
  width: 14%;
  height: 198px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  top: 0;
}

/* line 83, ../sass/style.scss */
.vinny1 {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  animation: stop 0.8s steps(2) infinite;
  -webkit-animation: stop 0.8s steps(2) infinite;
}

@keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
@-webkit-keyframes play {
  from {
    background-position: 0px;
  }
  to {
    background-position: -500px;
  }
}
/* line 103, ../sass/style.scss */
#layer-horizontal-1 {
  width: 1000px;
  height: 246px;
}
