@import "compass";
@import "partials/variables";
@import "partials/normalize";
@import "partials/mixins";

body {
	background: #0A7BC4;
}

* {
  margin: 0;
  padding: 0;
}


h1{
  
  font-family: 'arial', helvetica;
  font-size: 18px;
  color: #000;
}

#car1 {
	
	width: 300px;
	height: 300px;
	padding: 20px;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	border: solid 1px #ddd
}

#introduction {
	width: 800px;
	margin: 0 auto;
}

.text-forward-a {
	position: relative;
	font-family: 'Cabin', sans-serif;
	color: #ffffff;
	font-size: 24px;
	float: right;

}

.text-forward-b {
	position: relative;
	width: 440px;
	font-family: 'Cabin', sans-serif;
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 12px;

}

.text-container {
	width: 710px;
	margin: 0 auto;
	position: relative;

}



 .size-48 { font-size: 48px; }
 .size-72 { font-size: 72px; color: #fff; }


#car2 {
	width: 300px;
	height: 300px;
	padding: 20px;
	margin: 0px 20px 0px 20px;
	display: inline-block;
	border: solid 1px #ddd
}

#ground {
	width: auto;
	height: 90px;
	background: #8b6239;
	position: relative;
    bottom: 0px;
}

#vinny-container {
	width: 14%;
	height: 198px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	top: 0;
}


.vinny1 {
  width: 231px;
  height: 396px;
  background: url(../images/vinny-slides.png);
  animation: stop .8s steps(2) infinite;
  -webkit-animation: stop .8s steps(2) infinite;
}

@keyframes play {
  from 	{  background-position: 0px;   }
  to 	{  background-position: -500px; }
}


@-webkit-keyframes play {
  from { background-position: 0px; }
  to {background-position: -500px; }
}


#layer-horizontal-1 {
	width: 1000px;
	height: 246px;
	
}